-- MySQL dump 10.13  Distrib 8.0.28, for Win64 (x86_64)
--
-- Host: localhost    Database: online_retail_store
-- ------------------------------------------------------
-- Server version	8.0.28

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `cart`
--

DROP TABLE IF EXISTS `cart`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cart` (
  `cart_id` int NOT NULL,
  `qty` int NOT NULL,
  `cost` int NOT NULL,
  PRIMARY KEY (`cart_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cart`
--

LOCK TABLES `cart` WRITE;
/*!40000 ALTER TABLE `cart` DISABLE KEYS */;
/*!40000 ALTER TABLE `cart` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cart_item`
--

DROP TABLE IF EXISTS `cart_item`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cart_item` (
  `item_id` int NOT NULL,
  `cart_id` int NOT NULL,
  `qty` int NOT NULL,
  `cost` int NOT NULL,
  PRIMARY KEY (`item_id`,`cart_id`),
  KEY `cart_id` (`cart_id`),
  CONSTRAINT `cart_item_ibfk_1` FOREIGN KEY (`item_id`) REFERENCES `inventory` (`item_id`),
  CONSTRAINT `cart_item_ibfk_2` FOREIGN KEY (`cart_id`) REFERENCES `cart` (`cart_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cart_item`
--

LOCK TABLES `cart_item` WRITE;
/*!40000 ALTER TABLE `cart_item` DISABLE KEYS */;
/*!40000 ALTER TABLE `cart_item` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cust_cart_rel`
--

DROP TABLE IF EXISTS `cust_cart_rel`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cust_cart_rel` (
  `cust_id` int NOT NULL,
  `cart_id` int NOT NULL,
  PRIMARY KEY (`cust_id`,`cart_id`),
  KEY `cart_id` (`cart_id`),
  CONSTRAINT `cust_cart_rel_ibfk_1` FOREIGN KEY (`cust_id`) REFERENCES `customer` (`cust_id`),
  CONSTRAINT `cust_cart_rel_ibfk_2` FOREIGN KEY (`cart_id`) REFERENCES `cart` (`cart_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cust_cart_rel`
--

LOCK TABLES `cust_cart_rel` WRITE;
/*!40000 ALTER TABLE `cust_cart_rel` DISABLE KEYS */;
INSERT INTO `cust_cart_rel` VALUES (1,101),(2,102),(3,103),(4,104),(5,105),(6,106),(7,107),(8,108),(9,109),(10,110),(11,111),(12,112),(13,113),(14,114),(15,115),(16,116),(17,117),(18,118),(19,119),(20,120),(21,121),(22,122),(23,123),(24,124),(25,125),(26,126),(27,127),(28,128),(29,129),(30,130),(31,131),(32,132),(33,133),(34,134),(35,135),(36,136),(37,137),(38,138),(39,139),(40,140),(41,141),(42,142),(43,143),(44,144),(45,145),(46,146),(47,147),(48,148),(49,149),(50,150);
/*!40000 ALTER TABLE `cust_cart_rel` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cust_order_rel`
--

DROP TABLE IF EXISTS `cust_order_rel`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cust_order_rel` (
  `cust_id` int NOT NULL,
  `order_id` int NOT NULL,
  PRIMARY KEY (`cust_id`,`order_id`),
  KEY `order_id` (`order_id`),
  CONSTRAINT `cust_order_rel_ibfk_1` FOREIGN KEY (`cust_id`) REFERENCES `customer` (`cust_id`),
  CONSTRAINT `cust_order_rel_ibfk_2` FOREIGN KEY (`order_id`) REFERENCES `orders` (`order_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cust_order_rel`
--

LOCK TABLES `cust_order_rel` WRITE;
/*!40000 ALTER TABLE `cust_order_rel` DISABLE KEYS */;
INSERT INTO `cust_order_rel` VALUES (8,18841826),(14,23565811),(10,26016568),(1,27082611),(7,29880373),(13,43812146),(6,45405666),(11,48608181),(15,51893283),(2,54874630),(9,57363311),(3,60338287),(12,75339763),(4,76892876),(5,98326750);
/*!40000 ALTER TABLE `cust_order_rel` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `customer`
--

DROP TABLE IF EXISTS `customer`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `customer` (
  `cust_id` int NOT NULL AUTO_INCREMENT,
  `first_name` varchar(30) NOT NULL,
  `last_name` varchar(30) DEFAULT NULL,
  `phone_no` bigint NOT NULL,
  `email` varchar(40) NOT NULL,
  `house_no` int NOT NULL,
  `locality` varchar(30) NOT NULL,
  `city` varchar(30) NOT NULL,
  `state` varchar(30) NOT NULL,
  `country` varchar(30) NOT NULL,
  `pin_code` int NOT NULL,
  `username` varchar(30) NOT NULL,
  `pass_word` varchar(30) NOT NULL,
  PRIMARY KEY (`cust_id`),
  UNIQUE KEY `phone_no` (`phone_no`),
  UNIQUE KEY `email` (`email`),
  UNIQUE KEY `username` (`username`),
  CONSTRAINT `valid_pc` CHECK ((`pin_code` between 100000 and 999999)),
  CONSTRAINT `valid_ph` CHECK ((`phone_no` between 1000000000 and 9999999999))
) ENGINE=InnoDB AUTO_INCREMENT=51 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `customer`
--

LOCK TABLES `customer` WRITE;
/*!40000 ALTER TABLE `customer` DISABLE KEYS */;
/*!40000 ALTER TABLE `customer` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `employee`
--

DROP TABLE IF EXISTS `employee`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `employee` (
  `emp_id` int NOT NULL,
  `first_name` varchar(30) NOT NULL,
  `last_name` varchar(30) DEFAULT NULL,
  `phone_no` bigint NOT NULL,
  `email_id` varchar(40) NOT NULL,
  `doj` date NOT NULL,
  `house_no` int NOT NULL,
  `locality` varchar(30) NOT NULL,
  `city` varchar(30) NOT NULL,
  `state` varchar(30) NOT NULL,
  `country` varchar(30) NOT NULL,
  `pin_code` int NOT NULL,
  `dob` date NOT NULL,
  `department` varchar(30) NOT NULL,
  `salary` int NOT NULL,
  `gender` char(1) NOT NULL,
  `username` varchar(30) DEFAULT NULL,
  `pass_word` varchar(64) NOT NULL,
  PRIMARY KEY (`emp_id`),
  UNIQUE KEY `phone_no` (`phone_no`),
  UNIQUE KEY `email_id` (`email_id`),
  UNIQUE KEY `username` (`username`),
  CONSTRAINT `minsalary` CHECK ((`salary` >= 10000)),
  CONSTRAINT `valid_gen` CHECK ((`gender` in (_utf8mb4'm',_utf8mb4'f',_utf8mb4'o'))),
  CONSTRAINT `valid_pce` CHECK ((`pin_code` between 100000 and 999999)),
  CONSTRAINT `valid_phe` CHECK ((`phone_no` between 1000000000 and 9999999999))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `employee`
--

LOCK TABLES `employee` WRITE;
/*!40000 ALTER TABLE `employee` DISABLE KEYS */;
/*!40000 ALTER TABLE `employee` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `inventory`
--

DROP TABLE IF EXISTS `inventory`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `inventory` (
  `item_id` int NOT NULL,
  `company_name` varchar(60) DEFAULT NULL,
  `item_name` varchar(30) NOT NULL,
  `qty` int NOT NULL,
  `price` int NOT NULL,
  `category` varchar(20) NOT NULL,
  `discount` int DEFAULT '0',
  PRIMARY KEY (`item_id`),
  CONSTRAINT `valid_discount` CHECK ((`discount` between 0 and 30)),
  CONSTRAINT `valid_price` CHECK ((`price` > 0)),
  CONSTRAINT `valid_qty` CHECK ((`qty` >= 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `inventory`
--

LOCK TABLES `inventory` WRITE;
/*!40000 ALTER TABLE `inventory` DISABLE KEYS */;
/*!40000 ALTER TABLE `inventory` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `order_item`
--

DROP TABLE IF EXISTS `order_item`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `order_item` (
  `item_id` int NOT NULL,
  `order_id` int NOT NULL,
  `qty` int NOT NULL,
  `cost` int NOT NULL,
  PRIMARY KEY (`item_id`,`order_id`),
  KEY `order_id` (`order_id`),
  CONSTRAINT `order_item_ibfk_1` FOREIGN KEY (`item_id`) REFERENCES `inventory` (`item_id`),
  CONSTRAINT `order_item_ibfk_2` FOREIGN KEY (`order_id`) REFERENCES `orders` (`order_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `order_item`
--

LOCK TABLES `order_item` WRITE;
/*!40000 ALTER TABLE `order_item` DISABLE KEYS */;
INSERT INTO `order_item` VALUES (1637,26016568,20,1400),(1746,27082611,1,39),(2221,18841826,1,48),(2290,60338287,4,208),(2552,23565811,1,54),(4288,76892876,1,51),(5384,43812146,1,78),(5420,54874630,2,70),(5611,51893283,1,97),(6627,57363311,9,630),(7529,98326750,10,350),(7802,48608181,2,68),(7815,75339763,2,70),(8129,45405666,3,213),(9364,29880373,1,53);
/*!40000 ALTER TABLE `order_item` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `orders`
--

DROP TABLE IF EXISTS `orders`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `orders` (
  `order_id` int NOT NULL,
  `order_date` date NOT NULL,
  `cost` int NOT NULL,
  `order_status` varchar(20) NOT NULL,
  `payment_id` int NOT NULL,
  PRIMARY KEY (`order_id`),
  UNIQUE KEY `payment_id` (`payment_id`),
  CONSTRAINT `orders_ibfk_1` FOREIGN KEY (`payment_id`) REFERENCES `payments` (`payment_id`),
  CONSTRAINT `valid_status` CHECK ((`order_status` in (_utf8mb4'delivered',_utf8mb4'shipped',_utf8mb4'confirmed')))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `orders`
--

LOCK TABLES `orders` WRITE;
/*!40000 ALTER TABLE `orders` DISABLE KEYS */;
/*!40000 ALTER TABLE `orders` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payments`
--

DROP TABLE IF EXISTS `payments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `payments` (
  `payment_id` int NOT NULL,
  `payment_method` varchar(30) NOT NULL,
  PRIMARY KEY (`payment_id`),
  CONSTRAINT `valid_paymethod` CHECK ((`payment_method` in (_utf8mb4'cod',_utf8mb4'credit_card',_utf8mb4'debit_card',_utf8mb4'neft')))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payments`
--

LOCK TABLES `payments` WRITE;
/*!40000 ALTER TABLE `payments` DISABLE KEYS */;
INSERT INTO `payments` VALUES (13456521,'debit_card'),(19100477,'credit_card'),(32311132,'cod'),(32649471,'credit_card'),(41408364,'credit_card'),(46772154,'credit_card'),(56750302,'debit_card'),(59071692,'debit_card'),(64972297,'neft'),(65797678,'neft'),(69103155,'debit_card'),(69657135,'credit_card'),(76408994,'debit_card'),(77762833,'credit_card'),(95548904,'cod');
/*!40000 ALTER TABLE `payments` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2022-03-01 22:43:38
